@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dashed limegreen; */
  outline: none;
}

:root {
  /* palette : theme  */
  --dorminant-clr: #E3DFDC;
  --complimentary-clr: #050505;
  --accent-clr: #E41111;
  --splash-clr: #FFC310;

  /* palette : tint */
  --tint-1: hsl(180, 0%, 100%);
  --tint-2: hsl(180, 0%, 75%);
  --tint-3: hsl(180, 0%, 50%);

  /* type face  */
  --title-ff: "Oswald", serif;
  --text-ff: "Montserrat", serif;

  /* font size : title  */
  --display-1: 36vw;
  /* tab and up display-2
  --display-2: 12vw; */
  /* mobile and down
  --display-2: 2.8rem; */
  --display-2: 3.2rem;
  --title-2: 1.5rem;
  --title-3: 2.5rem;
  --title-4: 3.5rem;

  /* font size : text  */
  --text-4: 0.7rem;
  --text-3: 0.65rem;
  --text-2: 0.625rem;
  --text-1: 1.5rem;
  /*24px */

  /* whitespace  */
  --ws-auto: 4%;
  --ws-1: 8px;
  --ws-2: 12px;
  --ws-3: 18px;
  --ws-4: 32px;
  --ws-5: 84px;
  --ws-6: 96px;
  --ws-extension: 40vh;

  /* layers : z-index */
  --layer-0: -999;
  --layer-1: -99;
  --layer-2: 1;
  --layer-3: 99;
  --layer-4: 999;
  --layer-5: 1000;
}

/* 320–480 px: Small mobile devices, like most smartphones in portrait mode 
481–767 px: Large mobile devices, like larger smartphones and smaller tablets in portrait mode 
768–1024 px: Tablets, like most tablets in portrait mode and some laptops in landscape mode 
1025–1200 px: Desktops, like most laptops and desktops 
1201 px and up: TV and extra large screens  */

@media (max-width:324px) {
  :root {
    --display-2: 2.8rem;
  }
}

@media (min-width:524px) {
  :root {
    --display-1: 32vw;
    --display-2: 12.5vw;
  }
}

@media (min-width:768px) {
  :root {
    /* font size: title  */
    --display-1: 18vw;
    --display-2: 12vw;
    --title-2: 2rem;
    --title-4: 4.5rem;

    /* font size : text  */
    --text-4: 0.75rem;
    --text-3: 0.7rem;
    --text-2: 0.65rem;
    --text-1: 2rem;

    /* whitespace  */
    --ws-auto: 4%;
    --ws-1: 8px;
    --ws-2: 12px;
    --ws-3: 18px;
    --ws-4: 32px;
    --ws-5: 96px;
    --ws-6: 112px;
  }
}

@media (min-width: 1024px) {
  :root {
    --title-2: 2.5rem;
    --title-3: 3.5rem;
  }
}


/* general styling  */
#app {
  /* max-width: 1440px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}

html,
body {
  background-color: var(--dorminant-clr);
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--complimentary-clr);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

/* font styling */
.display-title,
.mid-title,
.link-text,
.body-text,
.body-text-bold,
.caption-title,
.text-title,
.body-text-cap {
  color: var(--complimentary-clr);
}

.caption-title-alt,
.link-text-alt,
.body-text-bold-alt,
.body-text-cap-alt,
.text-title-alt,
.mid-title-alt {
  color: var(--tint-1);
}

.body-text-alt {
  color: var(--tint-2);
}

.display-title {
  font-family: var(--title-ff);
  font-size: var(--display-1);
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -8px;
  text-wrap: nowrap;
  display: flex;
  justify-content: start;
}

.intro-title,
.intro-title-alt {
  font-family: var(--title-ff);
  font-size: var(--display-2);
  font-weight: 500;
  line-height: 1.1;
  color: var(--dorminant-clr);
  letter-spacing: -4px;
  text-wrap: nowrap;
}

.intro-title-alt {
  color: var(--tint-1)
}

.mid-title,
.mid-title-alt {
  font-family: var(--title-ff);
  font-size: var(--title-2);
  font-weight: 400;
  letter-spacing: -1px;
  line-height: .6;
}

.text-title,
.text-title-alt {
  font-family: var(--title-ff);
  font-size: var(--title-3);
  font-weight: 500;
  letter-spacing: -2px;
  white-space: nowrap;
}

.caption-title,
.caption-title-alt {
  font-family: var(--text-ff);
  font-size: var(--text-3);
  text-transform: uppercase;
  letter-spacing: 8px;
}

.link-text,
.link-text-alt {
  font-family: var(--text-ff);
  font-size: var(--text-3);
  text-transform: uppercase;
  font-weight: 500;
}



.body-text-cap,
.body-text-cap-alt {
  font-family: var(--text-ff);
  font-size: var(--text-3);
  text-transform: uppercase;
  line-height: 1.6;
}


.body-text-bold,
.body-text-bold-alt {
  font-family: var(--text-ff);
  font-size: var(--text-1);
  line-height: 1.6;
  word-spacing: 2px;
  font-weight: 500;
}

.body-text,
.body-text-alt {
  font-family: var(--text-ff);
  font-size: var(--text-4);
  line-height: 1.6;
}



.m-nav-title {
  font-family: var(--title-ff);
  font-size: var(--title-4);
  font-weight: 600;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: var(--complimentary-clr);
  line-height: 1.1;
}

/* general layout */
.px-auto {
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
}

.py-3 {
  padding-top: var(--ws-3);
  padding-bottom: var(--ws-3);
}

.py-4 {
  padding-top: var(--ws-4);
  padding-bottom: var(--ws-4);
}

.py-5 {
  padding-top: var(--ws-5);
  padding-bottom: var(--ws-5);
}

.py-6 {
  padding-top: var(--ws-6);
  padding-bottom: var(--ws-6);
}

.pt-5 {
  padding-top: var(--ws-5);
}

.pt-6 {
  padding-top: var(--ws-6);
}

.pt-extension {
  padding-top: var(--ws-extension);
}

.pb-3 {
  padding-bottom: var(--ws-3);
}

.pb-4 {
  padding-bottom: var(--ws-4);
}

.pb-6 {
  padding-bottom: var(--ws-6);
}

.flex {
  display: flex;
  align-items: end;
  gap: var(--ws-1);
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column,
.flex-column-1,
.flex-column-2,
.flex-column-3,
.flex-column-4 {
  display: flex;
  flex-direction: column;
}

.flex-column-1 {
  gap: var(--ws-1);
}

.flex-column-2 {
  gap: var(--ws-2);
}

.flex-column-3 {
  gap: var(--ws-3);
}

.flex-column-4 {
  gap: var(--ws-4);
}

/* preloader */
.preloader {
  background-color: var(--complimentary-clr);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: fixed;
  inset: 0;
  z-index: 2000;
  transform: translateY(0%);
  transition: all 0.5s ease-out;
}

.preloader.inactive {
  transform: translateY(-100%);
}

.preloader-span-3 {
  text-align: right;
}

.loading-text {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-img-container {
  position: absolute;
  bottom: var(--ws-4);
  right: 0%;
  transform: translateX(0%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loading-stick {
  position: relative;
  transform: translateY(0%);
  transition: all ease-in-out;
  color: var(--accent-clr);
  animation: bounce 0.5s forwards infinite;
}

@keyframes flipstick {
  0% {
    transform: translateY(-20%);
  } 100% {
    transform: translateY(0%);
  }
}



.preload-img {
  width: 50px;
  height: 50px;
}

.pre-img {
  transform: scaleX(-1);
}



/* navigation  */
.header {
  position: fixed;
  width: 100%;
  z-index: var(--layer-5);
  left: 0px;
  top: var(--ws-3);
  transition: all 0.5s ease-in;
}

.header.is-inactive {
  top: -100px;
}

.nav-container {
  /* max-width: 1440px; */
  width: 100%;
  margin: 0 auto;
  /* display: grid;
  place-content: center; */
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e3dfdc44;
  backdrop-filter: blur(8px);
  border-radius: 50px;
  box-shadow: 1px 1px 2px var(--tint-3);
  border-top: 1px solid var(--tint-1);
  border-left: 1px solid var(--tint-1);
  /* outline: 1px dotted var(--accent-clr); */
  width: 100%;
  margin: 0 auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

.nav-link-logo {
  position: relative;
  max-height: 46px;
  display: flex;
  gap: var(--ws-2);
  flex-direction: column;
}

.nav-img {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 40px;
  height: 40px;
  transform: translateY(110%);
  transition: transform 0.5s ease-in-out;
  animation: slidein 0.5s forwards ease-in;
}

.nav-title {
  transform: translateY(0%);
  display: block;
  /* animation: slideup 1s 1s forwards ease-in-out; */
}

.nav {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.btn-span {
  transition: transform 0.5s ease-in;
  transform: translateY(110%);
  animation: slidein 0.5s forwards ease-in;
}

.nav-list,
.nav-floater {
  display: none;
}

.mobile-nav {
  position: fixed;
  inset: 0;
  background-color: var(--splash-clr);
  transition: all .5s ease-in;
  transform: translateX(100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  z-index: var(--layer-4);
}

.mobile-nav.active {
  transform: translateX(0%);
}

.m-nav-header {
  height: 48px;
  display: flex;
  justify-content: right;
  align-items: center;
  grid-column: 2/3;
}

.m-nav-list {
  grid-column: 1/3;
  grid-row: 2/8;

}

.m-nav-link {
  display: block;
  /* width: fit-content; */
  white-space: nowrap;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.m-nav-footer {
  width: 100%;
  grid-row: 8/9;
  grid-column: 1/3;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.m-nav-socials {
  width: 256px;
}

.mobile-reel-link {
  text-decoration: line-through;
  pointer-events: none;
}


/* hero */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: calc(100vh - var(--ws-4));
  row-gap: var(--ws-3);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: right;
  grid-column: 1/3;
  grid-row: 1/2;
}



.hero-card {
  width: fit-content;
  grid-row: 2/3;
  grid-column: 1/3;

}

.hero-cta {
  display: flex;
  justify-content: space-between;
}

.hero-link {
  z-index: var(--layer-2);
}

.hero-caret {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: right;
  align-items: end;
}

.hero-img {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  align-items: end;
}

.hero-img img {
  width: 88px;
  height: 88px;
}

/* about  */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .caption-title {
  top: var(--ws-3);
}

.about-intro {
  text-align: center;
}

.about-intro .body-text-bold:nth-child(1) {
  text-indent: calc(var(--ws-5)*2);
  text-align: left;
}

/* services  */

.services .service-panel {
  grid-column: 1/3;
  display: flex;
  align-items: center;
}

.service-carret {
  width: 32px;
  display: none;
}

.service-card {
  border-top: 1px solid var(--tint-3);
}

.img-obj,
.hero-span,
.hero-caret-stick,
.service-text-title,
.carret-case,
.period-roll,
.role-roll,
.slide-text-3,
.mobile-btn,
.contact-roll,
.nav-footer-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.service-card:nth-child(3) {
  border-bottom: 1px solid var(--tint-3);
}

.service-desc,
.work-desc {
  max-width: 256px;
}

.service-desc .body-text>* {
  display: block;
}

p .slide-text-2 {
  z-index: var(--layer-3);
  position: relative;
}

/* work  */
.work {
  background-color: var(--complimentary-clr);
}

/* .work-intro-card {
  display: flex;
  justify-content: right;
} */

.work-intro-card .intro-title span:nth-child(1) {
  color: var(--tint-1);
}

.work-intro-card .intro-title span:nth-child(2) {
  color: var(--tint-2);
}

.work-intro-card .intro-title span:nth-child(3) {
  color: var(--tint-3);
  text-align: right;
}

.experience-container {
  border-bottom: 1px solid var(--tint-3);
}

.experience-card {
  border-top: 1px solid var(--tint-3);
}

.experience-period {
  display: none;
}

/* testimonial  */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ws-4);
}

.testimonial-title {
  display: flex;
  height: fit-content;
}

.testimonial-title span {
  font-family: var(--title-ff);
  font-size: var(--title-4);
  color: var(--accent-clr);
  position: absolute;
  top: -50%;
  left: 110%;
}

.testimonials-case {
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card {
  padding: var(--ws-3);
  border-top: 1px solid var(--dorminant-clr);
  border-left: 1px solid var(--dorminant-clr);
  border-radius: 10px;
  background-color: var(--complimentary-clr);
}


/* footer/contact  */
footer {
  background-color: var(--splash-clr);
  height: fit-content;
}

.contact {
  background-color: var(--splash-clr);
}

.contact-case h3 {
  width: 70%;
}

.caption-span {
  display: flex;
  justify-content: space-between;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ws-2);
}

.footer-socials {
  width: 256px;
}


/* svg animation  */
.service-carret rect:nth-child(1) {
  opacity: 0.5;
}

.scroll-indicator {
  position: relative;
  transition: all 1.5s ease-in-out;
  transform: translateY(0%);
  animation: bounce 1.5s 2s forwards infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}

.scroll-indicator .left-angle {
  opacity: 0.5;
}

.scroll-indicator .right-angle {
  opacity: 0.8;
}

.scroll-indicator .center-angle {
  opacity: 1;
}

/* animation  */
.animated-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.animated-svg svg {
  width: 24rem;
  /* width: 50%; */
}

.vessel-vesper {
  /* transition: all o.8 ease-in-out; */
  opacity: 0;
}

.vessel-vesper.is-active {
  opacity: 1;
}

.vessel-vesper.is-active .grid-iron {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: grid 5s reverse;
}

@keyframes grid {
  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 500;
  }
}

.vessel-vesper.is-active .ingrid {
  stroke-dasharray: 0, 4;
  stroke-dashoffset: 800;
  animation: ingrid 5.7s .5s reverse;
}



@keyframes ingrid {
  5% {
    stroke-dasharray: 4, 4;
    stroke-dashoffset: 0;
  }

  55% {
    stroke-dasharray: 4, 4;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
  }
}

.vesper {
  transition: all 0.5s ease-in;
  clip-path: circle(0.5% at 50% 50%);
}

.vessel-vesper.is-active .vesper {
  clip-path: circle(50% at 50% 50%);
}

.vessel-vesper.is-active .vessel {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: drawline 1s 3.5s forwards;
}

@keyframes drawline {
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

@keyframes fadein {
  t0 {
    opacity: 1;
  }
}


/* miscelleneous  */
.mask {
  overflow: hidden;
}

.full-height {
  min-height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fit-content {
  width: fit-content;
}

.hover-animate {
  display: none;
}

.link-text,
.contact-cta {
  position: relative;
}

.fixed-bar-line::before {
  content: "";
  width: 100%;
  height: 1px;
  transition: all 0.5s ease-in-out;
  background-color: var(--complimentary-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
}

.contact-cta {
  display: flex;
  flex-wrap: wrap;
}

.contact-cta {
  text-decoration: underline;
}

.custom-cursor {
  display: none;
  width: 24px;
  height: 24px;
  transition: all 0.001ms ease;
  background-image: linear-gradient(var(--splash-clr), var(--accent-clr));
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: var(--layer-3);
  top: -20%;
  left: -20%;
}


.hi-liter {
  background-image: linear-gradient(var(--splash-clr), var(--splash-clr));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: all 1.5s ease-in;
}

.hi-liter.marked {
  background-size: 100% 100%;
  opacity: 1;
}

.slide-text-3 {
  display: flex;
  justify-content: space-between;
  width: 90%;
}


/* animation  */
@keyframes slidein {
  to {
    transform: translateY(0%);
  }
}

@media (min-width:425px) {
  .slide-text-3 {
    width: 70%;
  }

  .contact-case h3 {
    width: 50%;
  }
}

@media (min-width:616px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .m-nav-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}

@media (min-width:648px) {

  /* preloader  */
  .loading-img-container {
    width: 60%;
  }

  /* nav-bar */

  .nav-logo {
    width: 48px;
    height: 48px;
  }

  .nav-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* width: auto; */
    height: fit-content;
  }



  .nav-link,
  .reel-link {
    display: block;
    /* transform: translateY(110px);
    animation: slidein 0.8s 0.5s forwards ease-in; */
  }

  .reel-link {
    text-decoration: line-through;
    pointer-events: none;
  }

  .nav-btn {
    display: none;
  }


  .nav {
    grid-column: 3/4;
    align-items: center;
    justify-content: left;
  }


  .bar-line::after {
    content: "";
    width: 0%;
    height: 1px;
    transition: all 0.5s ease-in-out;
    background-color: var(--complimentary-clr);
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  .fixed-bar-line::after {
    content: "";
    width: 0%;
    height: 1px;
    transition: all 0.5s 0.3s ease-in-out;
    background-color: var(--complimentary-clr);
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  .fixed-bar-line::before {
    content: "";
    width: 100%;
    height: 1px;
    transition: all 0.5s ease-in-out;
    background-color: var(--complimentary-clr);
    position: absolute;
    bottom: 0;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  .bar-line:hover::after {
    width: 100%
  }

  .fixed-bar-line:hover::after {
    width: 100%;
  }

  .fixed-bar-line:hover::before {
    width: 0%;
  }

  .nav-floater {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .mobile-nav {
    display: none;
  }

  /* hero  */
  .hero {
    grid-template-columns: repeat(2, 50%);
    gap: 0;
  }

  .hero-intro {
    grid-column: 2/3;
  }

  .hero-card {
    justify-content: end;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .hero-caret {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .hero-img {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  /* about  */

  /* services & work */
  .service-card,
  .experience-desc {
    flex-direction: row;
    justify-content: space-between;
  }

  .service-desc {
    text-align: right;
  }

  .service-card {
    align-items: center;
  }

  .service-text-panel {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: start;
  }

  .service-text-panel p {
    width: 80%;
  }

  .slide-text-3 {
    width: 55%;
  }

  .contact-case h3 {
    width: 40%;
  }

  .work-desc {
    flex-direction: column;
    justify-content: end;
    gap: 0px;
  }

}

@media (min-width:1024px) {
  /* custom cursor  */
  .custom-cursor {
    display: block;
  }

  /* preloader  */
  .loading-img-container {
    width: 50%;
  }

  /* services & work */
  .services {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0;
  }

  .services-container {
    grid-column: 2/3;
  }

  .service-card {
    align-items: start;
    display: block;
  }

  .service-desc {
    text-align: left;
    transition: all .5s ease-in-out;
    overflow: hidden;
    height: 0px;
  }

  .service-desc.is-active {
    height: 40px;
  }

  .service-title {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .service-text-panel {
    text-align: left;
    justify-content: start;
  }

  .service-title .text-title {
    grid-column: 1/5;
  }

  .carret-case {
    grid-column: 5/6;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .service-carret {
    display: block;
  }

  .experience-card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0;
  }

  .experience-period {
    display: inline-block;
  }

  .work-desc .body-text-cap-alt {
    display: none;
  }

  .work-desc {
    flex-direction: row;
    justify-content: start;
  }

  .service-card,
  .experience-desc {
    flex-direction: column;
  }

  /* misc  */
  .slide-text-3 {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }


  .contact-case h3 {
    width: 20%;
  }
}

.logo-svg {

}