@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dashed limegreen; */
}

:root {
  /* palette : theme  */
  --dorminant-clr: #E3DFDC;
  --complimentary-clr: #101010;
  --accent-clr: #E41111;
  --splash-clr: #FFC310;

  /* palette : shades */
  --shade-1: ;
  --shade-1: ;
  --shade-1: ;

  /* palette : tint */
  --tint-1: hsl(180, 0%, 100%);
  --tint-2: hsl(180, 0%, 75%);
  --tint-3: hsl(180, 0%, 50%);

  /* type face  */
  --title-ff: "Oswald", serif;
  --text-ff: "Montserrat", serif;

  /* font size : title  */
  --title-1: ;
  --title-2: 1.4rem;
  /* weight-400 */
  --title-3: 2.2rem;
  /* weight-400 */
  --title-4: 4.5rem;
  /* weight-600 */
  --title-display: 16vw;
  /* weight-500 */


  /* font size : text  */
  --text-1: 0.65rem;
  /* weight-400 */
  /*48px=3rem */
  /*36px */
  --text-2: 0.7rem;
  /*14px */
  --text-3: 1.6rem;
  /*12px */

  /* whitespace  */
  --ws-auto: 4%;
  --ws-1: 2px;
  --ws-2: 4px;
  --ws-3: 18px;
  --ws-4: 32px;
  --ws-5: 84px;
  --ws-6: 96px;

  /* layers : z-index */
  --layer-1: -99;
  --layer-2: 1;
  --layer-3: 99;
}

/* 320–480 px: Small mobile devices, like most smartphones in portrait mode 
481–767 px: Large mobile devices, like larger smartphones and smaller tablets in portrait mode 
768–1024 px: Tablets, like most tablets in portrait mode and some laptops in landscape mode 
1025–1200 px: Desktops, like most laptops and desktops 
1201 px and up: TV and extra large screens  */

/* @media (min-width:1024px) {
  :root { */
    /* font size : title  */
    /* --title-1: ;
    --title-2: 2rem; */
    /* weight-400 */
    /* --title-3: 4rem; */
    /* weight-400 */
    /* --title-4: 8.5rem; */
    /* weight-600 */
    /* --title-display: 12vw; */
    /* weight-500 */

    /* font size : text  */
    /* --text-3: 2.25rem; */
    /* weight-400 */
    /*48px=3rem */
    /*36px */
    /* --text-2: 0.875rem; */
    /*14px */
    /* --text-1: 0.75rem; */
    /*12px */

    /* whitespace  */
    /* --ws-auto: 5%;
    --ws-1: 4px;
    --ws-2: 8px;
    --ws-3: 24px;
    --ws-4: 48px;
    --ws-5: 96px;
    --ws-6: 192px;


  }
} */

/* general styling  */


#app{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: var(--dorminant-clr);
}

img,
svg {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--complimentary-clr);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/* font styling */

.title-title {
  font-family: var(--title-ff);
  font-size: var(--title-display);
  text-transform: uppercase;
}

.subtitle-title {
  font-family: var(--title-ff);
  font-size: var(--title-2);
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.caption-text {
  font-family: var(--text-ff);
}

.link-text {
  font-family: var(--text-ff);
  font-size: var(--text-2);
  text-transform: uppercase;
  font-weight: 600;
}

.graph-text {
  font-family: var(--text-ff);
}

/* general layout */
.padding-auto {
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
}
.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* navigation  */  
 .nav-bar{
  padding-top: var(--ws-3);
  padding-bottom: var(--ws-3);
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-link-logo {
  height: 46px;
  width: fit-content;
}

.nav {
  grid-column: 4/5;
}

.nav-list {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  right: 0px;
}

.nav-floater {
  position: fixed;
  right: 0%;
  bottom: var(--ws-6);
  transform: rotate(270deg);
}

@media (min-width:768px) {
  .nav-list {
    position: relative;
    align-items: center;
    flex-direction: row;
  }

  .nav {
    grid-column: 3/4;
  }
  
  .nav-item {
    margin-right: var(--ws-3);
  }

  .reel-link {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .nav-floater {
    position: relative;
    inset: 0;
    transform: rotate(0deg);
  } 
}

/* miscelleneous  */
.mask {
  display: block;
  overflow: hidden;
}

.relative {
  position: relative;
}