@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dashed limegreen; */
  outline: none;
}

:root {
  /* palette : theme  */
  --dorminant-clr: #E3DFDC;
  --complimentary-clr: #101010;
  --accent-clr: #E41111;
  --splash-clr: #FFC310;

  /* palette : shades */
  --shade-1: ;
  --shade-1: ;
  --shade-1: ;

  /* palette : tint */
  --tint-1: hsl(180, 0%, 100%);
  --tint-2: hsl(180, 0%, 75%);
  --tint-3: hsl(180, 0%, 50%);

  /* type face  */
  --title-ff: "Oswald", serif;
  --text-ff: "Montserrat", serif;

  /* font size : title  */
  --display-1: 38vw;
  /* weight-500 */
  --title-2: 1.5rem;
  /* weight-400 */
  --title-3: 2.2rem;
  /* weight-400 */
  --title-4: 3.5rem;
  /* weight-600 */



  /* font size : text  */
  --text-3: 0.75rem;
  /*12px */
  --text-2: 0.625rem;
  /*14px = 0.875rem*/
  --text-1: 1.5rem;
  /*24px */

  /* whitespace  */
  --ws-auto: 4%;
  --ws-1: 8px;
  --ws-2: 12px;
  --ws-3: 18px;
  --ws-4: 32px;
  --ws-5: 84px;
  --ws-6: 96px;

  /* layers : z-index */
  --layer-1: -99;
  --layer-2: 1;
  --layer-3: 99;
}

/* 320–480 px: Small mobile devices, like most smartphones in portrait mode 
481–767 px: Large mobile devices, like larger smartphones and smaller tablets in portrait mode 
768–1024 px: Tablets, like most tablets in portrait mode and some laptops in landscape mode 
1025–1200 px: Desktops, like most laptops and desktops 
1201 px and up: TV and extra large screens  */

@media (min-width:524px) {
  :root {
    --display-1: 32vw;
  }
}

@media (min-width:770px) {
  :root {
    /* font size: title  */
    --display-1: 18vw;
    --title-2: 2rem;
    --title-4: 4.5rem;

    /* font size : text  */
    --text-3: 0.875rem;
    /*12px */
    --text-2: 0.75rem;
    /*14px = 0.875rem*/
    --text-1: 2rem;
    /*24px */

    /* whitespace  */
    --ws-auto: 4%;
    --ws-1: 8px;
    --ws-2: 12px;
    --ws-3: 18px;
    --ws-4: 32px;
    --ws-5: 96px;
    --ws-6: 112px;
  }
}

/* @media (min-width:1024px) {
  :root { */
/* font size : title  */
/* --title-1: ;
    --title-2: 2rem; */
/* weight-400 */
/* --title-3: 4rem; */
/* weight-400 */
/* --title-4: 8.5rem; */
/* weight-600 */
/* --title-display: 12vw; */
/* weight-500 */

/* font size : text  */
/* --text-3: 2.25rem; */
/* weight-400 */
/*48px=3rem */
/*36px */
/* --text-2: 0.875rem; */
/*14px */
/* --text-1: 0.75rem; */
/*12px */

/* whitespace  */
/* --ws-auto: 5%;
    --ws-1: 4px;
    --ws-2: 8px;
    --ws-3: 24px;
    --ws-4: 48px;
    --ws-5: 96px;
    --ws-6: 192px;


  }
} */

/* general styling  */


#app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

html, body {
  background-color: var(--dorminant-clr);
  overscroll-behavior: none;
  width: 100%;
  min-height: 100%;
}

img,
svg {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--complimentary-clr);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/* font styling */
.display-title,
.subtitle-title,
.subtitle-title-bold,
.link-text,
.body-text,
.body-text-bold,
.caption-title {
  color: var(--complimentary-clr);
}

.display-title {
  font-family: var(--title-ff);
  font-size: var(--display-1);
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -8px;
  text-wrap: nowrap;
  display: flex;
  justify-content: start;
}

.subtitle-title {
  font-family: var(--title-ff);
  font-size: var(--title-2);
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.subtitle-title-bold {
  font-family: var(--title-ff);
  font-weight: 600;
  font-size: var(--title-4);
  letter-spacing: -4px;
  line-height: 1.1;
}

.caption-title {
  font-family: var(--text-ff);
  font-size: var(--text-2);
  text-transform: uppercase;
  letter-spacing: 8px;
}

.link-text {
  font-family: var(--text-ff);
  font-size: var(--text-2);
  text-transform: uppercase;
  font-weight: 600;
}

.body-text-bold {
  font-family: var(--text-ff);
  font-size: var(--text-1);
  line-height: 1.6;
  word-spacing: 2px;
}

.body-text {
  font-family: var(--text-ff);
  font-size: var(--text-3);
  line-height: 1.6;
}

.hilite-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: var(--ws-3);
  background-color: var(--splash-clr);
  left: 0px;
  top: var(--ws-3);
  z-index: var(--layer-1);
}

/* general layout */
.px-auto {
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
}

.py-1 {
  padding-top: var(--ws-3);
  padding-bottom: var(--ws-3);
}

.pt-1 {
  padding-top: var(--ws-6);
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column, .flex-column-2 {
  display: flex;
  flex-direction: column;
}

.flex-column {
  gap: var(--ws-3);
}

/* navigation  */
.nav-bar {
  padding-top: var(--ws-3);
  padding-bottom: var(--ws-3);
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: var(--ws-3);
}

.nav-link-logo {
  max-height: 46px;
  position: fixed;
  left: var(--ws-auto);
  background-color: var(--dorminant-clr);
}

.nav-logo {
  width: 40px;
  height: 40px;
  transform: translateY(0%);
  transition: all ease-in-out;
  animation: slideup 1s 0.5s forwards ease-in-out;
}

.nav-title {
  transform: translateY(0%);
  display: block;
  animation: slideup 1s 1s forwards ease-in-out;
}

.nav {
  grid-column: 4/5;
}

.nav-list {
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  z-index: var(--layer-3);
}

.nav-item,
.nav-floater {
  overflow: hidden;
  height: 14px;
}

.nav-item .nav-link {
  position: relative;
  top: 100%;
  transition: all .3s ease-in-out;
  animation: introslide 1s forwards ease-in;
}

.reel-link {
  position: fixed;
  right: 0%;
  bottom: 50vh;
  transform: rotate(270deg);
  transition: all .3s ease-in-out;
  z-index: var(--layer-3);
  /* animation: introslide 1s forwards ease-in; */
}

/* hero */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: calc(100vh - 120px);
  row-gap: var(--ws-3);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: right;
  grid-column: 1/3;
  grid-row: 1/2;
}

.hero-card {
  grid-row: 2/3;
  grid-column: 1/3;
  z-index: var(--layer-2);
}

.hero-caret {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: right;
  align-items: end;
}

.hero-img {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  align-items: end;
}

.hero-img img {
  width: 88px;
  height: 88px;
}

/* about  */
.about .caption-title {
  top: calc(var(--ws-6) + 1rem);
  left: var(--ws-auto);
}

.about-intro 
.body-text-bold {
  text-indent: calc(var(--ws-5)*2);
}

@media (min-width:770px) {

  /* nav-bar */

  .nav-logo {
    width: 48px;
    height: 48px;
  }

  .nav-list {
    position: relative;
    align-items: center;
    flex-direction: row;
  }

  .nav {
    grid-column: 3/4;
  }

  .nav-item {
    margin-right: var(--ws-3);
  }

  .reel-link {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(0deg);
    position: relative;
    top: 100%;
    transition: all .3s ease-in-out;
    animation: introslide 1s forwards ease-in;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  /* hero  */
  .hero {
    grid-template-columns: repeat(2, 50%);
    gap: 0;
  }

  .hero-intro {
    grid-column: 2/3;
  }

  .hero-card {
    justify-content: end;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .hero-caret {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .hero-img {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  /* about  */

}

/* miscelleneous  */
.mask {
  display: block;
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fit-content {
  width: fit-content;
}

.hover-animate {
  display: none;
}

/* animation  */
@keyframes slideup {
  to {
    transform: translateY(-100%);
  }
}

@keyframes introslide {
  to {
    top: 0%;
  }
}
